/* Sets all elements to these properties */
body,
input,
textarea,
button,
select {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #012E40;
}

/* Set background color of all pages */
html,
body {
    background-color: #F2F2F2;
}

/* Makes input tags look better */
input {
    height: 2em;
    margin: 0;
    padding: .25em .5em;
}

/* Makes select tags look better */
select {
    height: 2em;
}

select[multiple] {
    height: 5em;
}

/* Makes textarea tags look better */
textarea {
    margin: 0;
    padding: .25em .5em;
}

/* Sets the width of table to width of page */
table {
    width: 100%;
}

/* Sets size of help text in forms */
.helptext {
    display: block;
    font-size: 80%;
}


/* Changes to navbar */


header nav ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 10px 5px 5px 10px;
    overflow: hidden;
    background-color: #002333;
    border-bottom: 1px solid black;
}

header nav ul li {
    float: right;
    margin: 0 1em;
}

header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}


/* Log-in Form and Sign-up Form Styling */


label {
    color: white;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    top: 20px;
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.title {
    font-size: 44px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
}

.input {
    background-color: #012E40;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    outline: 0;
    padding: 10px 20px 0;
    margin: 15px;
    text-align: center;
}

.submit {
    background-color: #026773;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    margin-bottom: 20px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:hover {
    background-color: #3CA6A6;
}

.submit:active {
    background-color: #012E40;
}


/* Project and Task forms styling */


label {
    color: white;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    top: 20px;
}

.task-form,
.project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.title {
    font-size: 44px;
    font-weight: 600;
    margin-top: 30px;
}

.input {
    background-color: #012E40;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    outline: 0;
    padding: 20px 200px;
    margin: 15px;
    text-align: center;
}

.submit {
    background-color: #026773;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    margin-bottom: 20px;
    outline: 0;
    text-align: center;
    width: 100%;
    padding: 8px;
}

.submit:hover {
    background-color: #3CA6A6;
}

.submit:active {
    background-color: #012E40;
}


/* Sets up appearances of login, signup and logout buttons */


.button {
    background-color: #026773;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #3CA6A6;
}


/* Project detail view, Project list view and task list view styling */


/* Add a nice box around the lists and details */
.my-tasks-list,
.project-list,
.project-detail {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 800px;
    padding: 2em;
}

/* Makes all of the headers the same for project and task */
.project-detail h1,
.project-list h1,
.my-tasks-list h1 {
    font-size: 44px;
    font-weight: 600;
    margin-top: 30px;
}

/* Adjusts properties in the description in project detail view */
.project-detail p {
    margin-bottom: 2em;
    font-size: 20px;
}

/* Add padding to the table header and table datum tags */
.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
    padding: .5em;
}

/* Add a bottom border to the table header tags */
.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
    border-bottom: 2px solid #DEDEDE;
}

/* Center align the text on specific table header cells */
.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
    text-align: center;
}

/* Add horizontal rules to all rows except the last */
.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
    border-bottom: 1px solid #DEDEDE;
}

.project-list .submit a,
.project-detail .submit a,
.my-tasks-list .submit a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
