{% extends 'base.html' %}


{% block title %}
Login
{% endblock title %}



{% block content %}
<div class="login-form">
    <div class="title">Login</div>
    <div class="subtitle">Don't have an account? Sign up <a href="{% url 'signup' %}">here</a>!</div>
    <form method="post" class="input">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submit">Login</button>
    </form>
</div>
{% endblock content %}
