{% extends 'base.html' %}


{% block title %}
Signup
{% endblock title %}



{% block content %}
<div class="signup-form">
    <div class="title">Create an Account!</div>
    <div class="subtitle">Have an account already? Log in <a href="{% url 'login' %}">here</a>!</div>
    <form method="post" class="input">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submit">Signup</button>
    </form>
</div>
{% endblock content %}
