{% extends 'base.html' %}


{% block title %}
Delete Task
{% endblock title %}



{% block content %}
<div class="project-form">
    <div class="title">Are you sure you want to delete this task?</div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submit">Delete</button>
    </form>
    <div>
        <button class="submit" onclick="location.href='{% url 'list_projects' %}'">Cancel</button>
    </div>
</div>
{% endblock content %}
