{% extends 'base.html' %}


{% block title %}
Tracker
{% endblock title %}



{% block content %}
<div class="my-tasks-list">
    <div class="submit">
        <a href="{% url 'edit_task' task.id %}">Edit this task</a>
    </div>
    <div class="submit">
        <a href="{% url 'delete_task' task.id %}">Delete this task</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
                <th>Assignee</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.is_completed|yesno:"Yes, No"}}</td>
                <td>{{ task.assignee }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
