{% extends 'base.html' %}


{% block title %}
Tracker
{% endblock title %}



{% block content %}
<div class="my-tasks-list">
    <h1>My Tasks</h1>
    {% if tasks %}
    <table>
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Project Name</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Completed?</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.project.name }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.is_completed|yesno:"Yes, No"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>
        You have no tasks
    </p>
    {% endif %}
</div>
{% endblock content %}
