{% extends 'base.html' %}


{% block title %}
Tracker
{% endblock title %}



{% block content %}
<div class="project-detail">
    <h1>{{ project.name }}</h1>
    <p>{{ project.description }}</p>
    <h2>Project</h2>
    <div class="submit">
        <a href="{% url 'edit_project' project.id %}">Edit {{ project.name }}</a>
    </div>
    <div class="submit">
        <a href="{% url 'delete_project' project.id %}">Delete {{ project.name }}</a>
    </div>
    <h2>Task</h2>
    <div class="submit">
        <a href="{% url 'create_task' %}">Create a new task</a>
    </div>
    {% if project.tasks.all|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Completed?</th>
                <th>Assignee</th>
            </tr>
        </thead>
        <tbody>
            {% for task in project.tasks.all %}
            <tr>
                <td>
                    <a href="{% url 'individual_task' task.id %}">{{ task.name }}</a> <br>
                    <small>Updated on: {{ task.updated_date }}</small>
                </td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.is_completed|yesno:"Yes, No"}}</td>
                <td>{{ task.assignee }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>This project has no tasks. Make some tasks now!</p>
    {% endif %}
</div>
{% endblock content %}
