{% extends 'base.html' %}


{% block title %}
Tracker
{% endblock title %}



{% block content %}
<div class="project-form">
    <div class="title">Edit This Project</div>
    <form method="post" class="input">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submit">Update</button>
        <button class="submit" onclick="location.href='{% url 'list_projects' %}'">Cancel</button>
    </form>
</div>
{% endblock content %}
