{% extends 'base.html' %}


{% block title %}
Tracker
{% endblock title %}



{% block content %}
<div class="project-list">
    <h1>My Projects</h1>
    <div class="submit">
        <a href="{% url 'create_project' %}">Create a new project</a>
    </div>
    {% if projects|length == 0 %}
    <p>Currently, there are no projects.</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Tasks</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>
                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a><br>
                    <small>{{ project.description }}</small>
                </td>
                <td>{{ project.tasks.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock content %}
